<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="navbar-brand" href="/welcome">B2BNCS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/productlist"> Product</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/party"> Party</a>
      </li>

    <li class="nav-item">
      <a class="nav-link" href="/partylist"> Party List</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/user"> User</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="/userlist"> User List</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/rolelist"> Role</a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="/orderlist"> Order</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/lineitemlist"> LineItem</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/cart"> Cart</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/dealer"> Dealer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/distributor"> Distributor</a>
          </li>

  </ul>

</nav>
